{
  "extends": [
    "next/core-web-vitals",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "quotes": ["error", "single", { "avoidEscape": false, "allowTemplateLiterals": true }],
    "no-trailing-spaces": 1,
    "newline-before-return": "error",
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-non-null-assertion": 0,
    "@typescript-eslint/no-explicit-any": "off"
  }
}
